<app-navbar></app-navbar>

<router-outlet></router-outlet>





  <!-- img -->






          <!-- <button
              class="px-4 py-2  text-white rounded-lg shadow-md hover:bg-green-600 cursor-pointer"
              style="background-color:rgba(34,34,34,255) ;"

              (click)="showCreateProduct = true; showProducts = false; showUsercostomer = false "
              >
              Create Product
              <i class="fa-solid fa-folder-plus"></i>
          </button> -->
<!-- 
          <button
            class="px-4 py-2 text-white rounded-lg shadow-md hover:bg-blue-600 cursor-pointer"
            style="background-color:rgba(34,34,34,255) ;"
            (click)="showProducts = true; showCreateProduct = false ; showUsercostomer = false"
            >
            Products
            <i class="fa-solid fa-list-ul"></i>
          </button>
 -->

<!-- 
          <button
            class="px-4 py-2 text-white rounded-lg shadow-md hover:bg-blue-600 cursor-pointer"
            style="background-color:rgba(34,34,34,255) ;"
            (click)="showUsercostomer = true; showCreateProduct = false ; showProducts = false"
            >
            Users
            <i class="fa-solid fa-user"></i>
          </button> -->





    <!-- إظهار الـ Components عند الضغط على الأزرار -->
    <!-- <app-usercotomer *ngIf="showUsercostomer"></app-usercotomer> -->
    <!-- <app-products *ngIf="showProducts" class="w-4/5"></app-products> -->
    <!-- <app-createproduct *ngIf="showCreateProduct"></app-createproduct> -->




