


.lableFont{
  font-family: "Dosis", serif;
  position: absolute;
  transform: translate(10px , 10px);
  /* background-color: rgb(34,34,34,255); */
  background-color: rgb(215, 98, 98);

}

.focused{
  transform: translate(10px , -12px);
  border-radius: 10px;

}

.stylefont{
  font-family: "Itim", serif;
}
