<!-- <div class="h-screen flex flex-col items-center" style="background-color:rgb(22 31 21 / 82%);">

  <div class="mt-40">
    <h1 class="text-white text-4xl md:text-5xl ">B E S T S E C R E T</h1>
  </div>

  <div class=" md:flex  ">

        <div class="stylefont mt-7">
          <h2 class="text-white text-2xl">Add a new password <br> that will be yours :</h2>
        </div>

        <div class="flex flex-col ">
            <nav class="flex flex-col mt-14">
              <label class="lableFont whitespace-nowrap absolute duration-300 text-slate-200 w-24 flex justify-center rounded-md"
                    [class.focused]="isFocusedPass" for="password">
                Password
              </label>


              <input [type]="isPasswordVisible ? 'text' : 'password'"  name="password" id="password"
                    class="md:w-96 bg-black border p-2 text-white rounded-md focus:border-white focus:outline-none focus:ring-1 focus:ring-white"
                    [ngStyle]="{'background-color': 'rgba(34,34,34,255)'}"
                    [(ngModel)]="password"
                    (focus)="FocusPass()" (blur)="BlurPass()" (input)="checkInputPass($event)">
                    <i class=" absolute md:translate-x-80  translate-x-40 translate-y-3  md:translate-y-1   md:text-2xl text-white  fa-solid fa-eye"
                        (click)="togglePasswordVisibility()"
                        >
                     </i>
            </nav>


            <nav class="flex flex-col mt-5">
              <label class="lableFont whitespace-nowrap absolute duration-300 text-slate-200 w-32 flex justify-center rounded-md"
                    [class.focused]="isFocusedConfirmPass" for="confirmPassword">
                Confirm Password
              </label>

              <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" name="confirmPassword" id="confirmPassword"

                    class="md:w-96 bg-black border p-2 text-white rounded-md focus:border-white focus:outline-none focus:ring-1 focus:ring-white"
                    [ngStyle]="{'background-color': 'rgba(34,34,34,255)'}"
                    [(ngModel)]="confirmPassword"
                    (focus)="FocusConfirmPass()" (blur)="BlurConfirmPass()" (input)="checkInputConfirmPass($event)">

                    <i class=" absolute md:translate-x-80  translate-x-40 translate-y-3  md:translate-y-1   md:text-2xl text-white  fa-solid fa-eye"
                        (click)="toggleConfirmPasswordVisibility()"
                        >
                    </i>
            </nav>

            <div *ngIf="!isPasswordMatch && confirmPassword" class="stylefontpass text-red-800 mt-2 text-2xl">
              Passwords do not match!
            </div>
        </div>


  </div>

  <div class="flex items-center gap-5 mt-20">
    <i class="text-3xl text-black fa-solid fa-arrow-right"></i>
    <i class="text-3xl text-black fa-solid fa-arrow-right"></i>
    <button (click)="onForgot()" class="text-white px-5 py-1 rounded-md" style="background-color: rgb(20 55 10);">
      Go To Login
    </button>
  </div>

</div> -->


<div class="h-screen flex flex-col items-center" style="background-color:rgb(22 31 21 / 82%);">

  <div class="mt-40">
    <h1 class="text-white text-4xl md:text-5xl ">B E S T S E C R E T</h1>
  </div>

  <div class=" md:flex  ">

        <div class="stylefont mt-7 flex items-center md:mr-10 md:mb-20">
          <h2 class="text-white text-2xl">Add a new password <br> that will be yours :</h2>
        </div>

        <div class="flex flex-col  items-center">

            <nav class="flex flex-col mt-14">
              <label class="lableFont whitespace-nowrap absolute duration-300 text-slate-200 w-24 flex justify-center rounded-md"
                    [class.focused]="isFocusedPass" for="password">
                Password
              </label>

              <input [type]="isPasswordVisible ? 'text' : 'password'"  name="password" id="password"
                    class="md:w-96 bg-black border p-2 text-white rounded-md focus:border-white focus:outline-none focus:ring-1 focus:ring-white"
                    [ngStyle]="{'background-color': 'rgba(34,34,34,255)'}"
                    [(ngModel)]="password"
                    (focus)="FocusPass()" (blur)="BlurPass()" (input)="checkInputPass($event)">
                    <i class=" absolute md:translate-x-80  translate-x-40 translate-y-3  md:translate-y-1   md:text-2xl text-white  fa-solid fa-eye"
                        (click)="togglePasswordVisibility()"
                        >
                     </i>
            </nav>

            <!-- Confirm Password Input -->

            <nav class="flex flex-col mt-5">
              <label class="lableFont whitespace-nowrap absolute duration-300 text-slate-200 w-32 flex justify-center rounded-md"
                    [class.focused]="isFocusedConfirmPass" for="confirmPassword">
                Confirm Password
              </label>

              <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" name="confirmPassword" id="confirmPassword"

                    class="md:w-96 bg-black border p-2 text-white rounded-md focus:border-white focus:outline-none focus:ring-1 focus:ring-white"
                    [ngStyle]="{'background-color': 'rgba(34,34,34,255)'}"
                    [(ngModel)]="confirmPassword"
                    (focus)="FocusConfirmPass()" (blur)="BlurConfirmPass()" (input)="checkInputConfirmPass($event)">

                    <i class=" absolute md:translate-x-80  translate-x-40 translate-y-3  md:translate-y-1   md:text-2xl text-white  fa-solid fa-eye"
                        (click)="toggleConfirmPasswordVisibility()"
                        >
                    </i>
            </nav>

            <div class="flex flex-col gap-2 items-center mt-44 w-4/5 absolute ">
                <div *ngIf="!isPasswordMatch && confirmPassword" class="stylefontpass px-2 rounded-sm  bg-red-400  text-black   text-xs md:text-xl w-52 text-center ">
                  Passwords do not match!
                </div>

                <!-- Password Strength Validation -->
                <div *ngIf="password && !isPasswordValid" class="  stylefontpass px-2 rounded-sm  bg-red-400  text-black   text-xs md:text-xl">
                  Enter at least 8 characters, including a capital letter and at least a number
                </div>

                <div *ngIf="password && isPasswordValid" class="stylefontpass text-green-600 mt-2 text-2xl">
                  Password is strong!
                </div>
            </div>


        </div>


  </div>

  <div class="flex items-center gap-5 mt-32">
    <i class="text-3xl text-black fa-solid fa-arrow-right"></i>
    <i class="text-3xl text-black fa-solid fa-arrow-right"></i>
    <button (click)="onForgot()" class="text-white px-5 py-1 rounded-md" style="background-color: rgb(20 55 10);">
      Add pass && Go To Login
    </button>
  </div>

</div>
