
.lableFont{
  font-family: "Dosis", serif;
  position: absolute;
  transform: translate(10px , 10px);
  /* background-color: rgb(34,34,34,255); */
  background-color: rgb(20 55 10);;

}

.focused{
  transform: translate(10px , -12px);
  border-radius: 10px;

}

.stylefont{
  font-family: "Itim", serif;
}


.stylefontpass{
  font-family: "Itim", serif;
  /* top: 60px; */

}
